<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHA - @ViewData["Title"]</title>
    <link href="~/css/normalizer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="header">
            <ul class="header__list">
                <li class="header__item"><i class="fa-solid fa-graduation-cap"></i></li>
                <li class="header__item"><a asp-area="" asp-controller="Home" asp-action="Index">E-Learning project</a></li>
                
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
            </ul>

            <ul class="header__list">
                <li class="header__item">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="header__item">
                    <a asp-area="" asp-controller="Register" asp-action="RegisterPage">Signup</a>
                </li>

                <li class="header__item">
                    <a asp-area="" asp-controller="Login" asp-action="LoginPage">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="grid">
            <ul class="footer__info">
                <li class="footer__items">Dự án OJT - Fall2024</li>
                <li class="footer__items">
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com" class="footer__a footer__items">Github</a>
                </li>
                <li class="footer__items">© Powered by group 3 QN24_CPL_JAVA_06</li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
