<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/register.css">
    <title>RegisterController</title>
    <style>
        body {
            background-image: url(https://www.huniarchitectes.com/uploads/images/PROJECT/URBAN/8-FPT%20QUINHON/FPT_QN_UNI_VIEW%2003.jpg);
        }
    </style>
</head>

<body>
    <form id="register-form" method="post" >
        <div class="container">
            <h1>F_Forum Register Section</h1>
            <label for="fullname"><b>Fullname *</b></label>
            <input type="text"
                   placeholder="Enter Fullname"
                   name="display_name"
                   id="fullname"
                   required />

            <label for="username"><b>Username *</b></label>
            <input type="text"
                   placeholder="Enter username"
                   name="username"
                   id="username"
                   required />

            <label for="email"><b>Email</b></label>
            <input type="text"
                   placeholder="Enter Email"
                   name="email"
                   id="email" />

            <label for="number"><b>Phone Number</b></label>
            <input type="text"
                   placeholder="Enter Phone Number"
                   name="telephone"
                   id="number" />

            <label for="address"><b>Address</b></label>
            <input type="text"
                   placeholder="Enter Address"
                   name="address"
                   id="address" />

            <label for="pwd"><b>Password *</b></label>
            <input type="password"
                   placeholder="Enter Password"
                   name="password"
                   id="pwd"
                   required />

            <label for="pwd-repeat"><b>Repeat Password *</b></label>
            <input type="password"
                   placeholder="Repeat Password"
                   name="password_repeat"
                   id="pwd-repeat"
                   required />
            <button type="button" >Register</button>
        </div>
    </form>
    <div>
        <p>Already have an account? <a href="">Log in</a>.</p>
    </div>
</body>
</html>